body{
    background-image: url(/assets/brand/cropped-1600-900-1174695.png);
    position: relative;
}
        .quote-card {
            color: whitesmoke;
            width: 300px;
            background-color:transparent;
            padding: 20px;
            border-radius: 5px;
            text-align: center;text-transform:capitalize;
            font-family:'Times New Roman', Times, serif;
            font-weight: bold;

            margin: 0 auto;
        }
        
        .quote-text {
            font-size: 20px;
            font-style: italic;
        }
        
        .quote-author {
            font-size: 14px;
            font-weight: bold;
        }
        a{
            position: absolute;
            bottom: 10px;
            margin-bottom: .8rem;
            margin-left: 80%;
            color: whitesmoke;
            font-weight: bold;
        }